<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @segment.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @segment.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @segment.to %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @segment.distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @segment.time %>
</p>

<p>
  <strong>Veh type:</strong>
  <%= @segment.veh_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @segment.price %>
</p>

<p>
  <strong>Min:</strong>
  <%= @segment.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @segment.max %>
</p>

<p>
  <strong>Source:</strong>
  <%= @segment.source_id %>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
