<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @route.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @route.to %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
